.con{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.top{
    margin: 2% 10%;
    color: black;
}
.purchase-btn button{
    width: 12rem;
    height: 53px;
    color: black;
    border: 1 px  black;
    border-radius: 5px;
    background-color: white;
    font-family: Sora, sans-serif;
    font-weight: 400;
    font-size: 17px;
    transition: background-color 0.3s ease;
    
}
@media (max-width: 700px) {
    .purchase-btn button {
        display: none;
    }
}
.purchase-btn button:hover{
    border-color: white;
    color: white;
    background-color: transparent;
    cursor: pointer;
    
}